
<style>
  .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.05rem;
  background-image: linear-gradient(rgb(64, 64, 191), rgb(0, 0, 0));
  color: white;
}
.footer .container{
  padding-top: 2vh;
  padding-bottom: 1.2vh;
}
.footer a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}
ul li, h6{
  padding-top: 2vh;
}
</style>
   <div class="footer">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <h5 class="text-center">COURSES</h5>
           <ul>
             <li><a href="">Customised Courses</a></li>
             <li> <a href="">Self Designed Courses</a> </li>
             <li><a href="">Flash Course</a></li>
             <li><a href="">Strength: The Basic Course</a></li>
           </ul>
         </div>
         <div class="col-md-2">
           <h5 class="text-center"><a href="/about-us">Exams</a></h5>
           <ul>
             <li><a href="">Board</a></li>
             <li><a href="">JEE </a></li>
             <li><a href="">NEET</a></li>
             <li><a href="">BITS</a></li>
             <li><a href="">JIPMER</a></li>
           </ul>
         </div>
         <div class="col-md-2">
           <h5 class="text-center"><a href="/contact-us">Resources</a></h5>
           <ul>
             <li><a href="">NCERT Books</a></li>
             <li><a href="">Previous Year Papers </a></li>
             <li><a href="">Sample Paper</a></li>
             <li><a href="">Blue Prints</a></li>
             <li><a href="">Preparation Tips</a></li>
           </ul>
         </div>
         <div class="col-md-2">
           <h5 class="text-center"><a href="/contact-us">Social Links/Contact Us</a></h5>
           <ul>
             <li><a href="https://www.linkedin.com/company/widgetedutech/about/?viewAsMember=true"><span class="fa fa-linkedin-square"></span> LinkedIn</a> </li>
             <li><a href="https://www.facebook.com/widgetedutech/"><span class="fa fa-facebook-official"></span> Facebook</a> </li>
             <li><a href="https://twitter.com/learngiz"><span class="fa fa-twitter-square"></span> Twitter</a> </li>
           </ul>
         </div>
         <div class="col-md-3">
         <h4 class="text-center">News Letter</h4>
         <ul>
             <li><a href="">Stay Up To Date With Our Blog Post</a> </li>
             <form id="register" method="post" action="/subscribe">
             <input type="email" name="el"placeholder="Enter Valid Email"></input>
             <button class="btn btn-warning">SUBSCRIBE</button>
           </ul>
         </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
          <div class="col-md-2">
          <h4>About Us</h4>
          </div>
          <div class="col-md-3">
                    <h4 class="text-center"><a href="">Privacy Policy</a></h4>
          </div>
          <div class="col-md-2">
                    <h4 class="text-center"><a href="">Disclaimer</a></h4>
          </div>
          <div class="col-md-3">
                    <h4 class="text-center"><a href="">Terms Of Service</a></h4>
          </div>
          <div class="col-md-2">
                    <h4 class="text-center"><a href="">FAQ</a></h4>
          </div>
          </div>

     </div>
     <div class="container">
       <p class="text-center"> &copy All Rights Reserved Widget EduTech Pvt. Ltd. </p>
    </div>
   </div>

</body>
</html>
