<style>
    #nav2{
        font-size: 0.85rem;
    }
    .navbar-brand{
        font-size: 0.99rem;
    }
    #nav2 li{
        padding-left: 1.2vh;
    }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="nav2">
    <a class="navbar-brand font-weight-bold" href="#" disabled>Instructor Section</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2" aria-controls="collapsibleNavbar2"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" active>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructor/schedule">Schedule a Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructor/start">Start a Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructor/whiteboard">Open Whiteboard</a>
            </li>
        </ul>
    </div>
</nav>