<% include partials/bootstrap4 %>
  <% include partials/icons %>
<style>
#bg {
  background-image: url("/images/science-objects-seamless-animated-background-for-school-hd-motion-graphic_sxreexjwl_thumbnail-full01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  z-index: -2;
}
#bg h1{
  padding: 50vh 0 0 14vh;
  font-weight: 10000;
}
</style>
<div id="bg">
   <h1 id="h">YOU SELECTED THE CLASS <%=id%></h1>
 </div>
 <div id="board">
 <h1>CURRICULUM FOR BOARD </h1>
   </div>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>

</div>





 </div>
<body>
