<% include ./partials/header %>

<style>

#bg {
  background-image: url("/images/science-objects-seamless-animated-background-for-school-hd-motion-graphic_sxreexjwl_thumbnail-full01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  z-index: -2;
}
#bg h1{
  padding: 50vh 0 0 14vh;
  font-weight: 500;
}
#why-us{
  transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s ease-in-out;
}
.why-us{
  opacity: 0;
  width:0;
  margin: 5vh 5vh 5vh 5vh;
}
.why-us2{
  width:95%;
  opacity: 1;
  margin: 5vh 5vh 5vh 5vh;  
}
#why-us h2{
  font-weight: 600;
}
#why-us .card{
  margin: 2vh 0 2vh 0;
  border-radius: 70px;
}

#testi{
  transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s ease-in-out;
}
.testimonials{
  opacity: 0;
  width:0;
  margin: 5vh 5vh 5vh 5vh;
}
.testimonials2{
  width:95%;
  opacity: 1;
  margin: 5vh 5vh 5vh 5vh;  
}

#testi h2{
  font-weight: 600;
}

#sche{
  transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s ease-in-out;
}
.schedule{
  opacity: 0;
  width:0;
  margin: 5vh 5vh 5vh 5vh;
}
.schedule2{
  width:95%;
  opacity: 1;
  margin: 5vh 5vh 5vh 5vh;  
}

#sche h2{
  font-weight: 600;
}

</style>

 <div id="bg">
   <h1>
     <small class="text-mute"> Welcome To </small><br>
     Widget Edutech Pvt. Ltd.
  </h1>
 </div>
 <br>
 <br>
 <div id="why-us" class="why-us">
   <div>
    <h2 class="text-center">Why Us?</h2><hr>
    <div class="row">
      <div class="card col-md-6">
        <div class="card-body">
          <div class="card-title text-center">
            <h4>Adaptive Learning</h4>
            <hr>
          </div>
          <div class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iusto minima reprehenderit non dolore autem. Dolore
            ullam a culpa inventore in, reprehenderit reiciendis non eligendi deserunt quaerat quisquam exercitationem eum.
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <div class="card-title text-center">
            <h4>Realtime Sessions</h4>
            <hr>
          </div>
          <div class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iusto minima reprehenderit non dolore autem. Dolore
            ullam a culpa inventore in, reprehenderit reiciendis non eligendi deserunt quaerat quisquam exercitationem eum.
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <div class="card-title text-center">
            <h4>Practice Tests and Analysis</h4>
            <hr>
          </div>
          <div class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iusto minima reprehenderit non dolore autem. Dolore
            ullam a culpa inventore in, reprehenderit reiciendis non eligendi deserunt quaerat quisquam exercitationem eum.
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <div class="card-title text-center">
            <h4>One to one doubt Clearance</h4>
            <hr>
          </div>
          <div class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iusto minima reprehenderit non dolore autem. Dolore
            ullam a culpa inventore in, reprehenderit reiciendis non eligendi deserunt quaerat quisquam exercitationem eum.
          </div>
        </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <div id="testi" class="testimonials">
      <h2 class="text-center">Testimonials</h2><hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id non dolorem autem! Esse quos officia harum! Molestias, fugiat explicabo quae odit blanditiis quos suscipit est ea et laborum enim.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam dolores similique odio ullam sequi eius, delectus nulla aut, aperiam veritatis, deserunt reprehenderit fugiat at dolorum cupiditate dolore qui amet fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aspernatur omnis delectus voluptatibus reiciendis libero quas expedita eligendi, ad impedit. Corrupti quaerat minima qui veritatis obcaecati perspiciatis laboriosam ad accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptatibus. Aliquid praesentium expedita voluptatibus voluptates error ipsa officia corporis rem perspiciatis quaerat necessitatibus, fuga quas soluta officiis cumque earum nulla.
      </p>
    </div>
    <br>
    <br>
    <div id="sche" class="schedule">
      <h2 class="text-center"><a href="/schedule-demo">Schedule a Demo</a></h2>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id non dolorem autem! Esse quos officia
        harum! Molestias, fugiat explicabo quae odit blanditiis quos suscipit est ea et laborum enim.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam dolores similique odio ullam sequi eius, delectus
        nulla aut, aperiam veritatis, deserunt reprehenderit fugiat at dolorum cupiditate dolore qui amet fugit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aspernatur omnis delectus voluptatibus
        reiciendis libero quas expedita eligendi, ad impedit. Corrupti quaerat minima qui veritatis obcaecati perspiciatis
        laboriosam ad accusamus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptatibus. Aliquid praesentium expedita
        voluptatibus voluptates error ipsa officia corporis rem perspiciatis quaerat necessitatibus, fuga quas soluta
        officiis cumque earum nulla.
      </p>
    </div>
 </div>

 <script type="text/javascript">
  $.fn.isInViewport = function () {
      var elementTop = $(this).offset().top;
      var elementBottom = elementTop + $(this).outerHeight();
      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();
      return elementBottom > viewportTop && elementTop < viewportBottom;
    };

  $(window).on('scroll resize', function(){
    if($('#why-us').isInViewport())
    {
      document.getElementById('why-us').classList.remove('why-us');
      document.getElementById('why-us').classList.add('why-us2');      
    }
    /*else{
      document.getElementById('why-us').classList.remove('why-us2');
      document.getElementById('why-us').classList.add('why-us');
    }*/
    if ($('#testi').isInViewport()) {
      document.getElementById('testi').classList.remove('testimonials');
      document.getElementById('testi').classList.add('testimonials2');
    }
    /*else {
      document.getElementById('testi').classList.remove('testimonials2');
      document.getElementById('testi').classList.add('testimonials');
    } */   
    if ($('#sche').isInViewport()) {
      document.getElementById('sche').classList.remove('schedule');
      document.getElementById('sche').classList.add('schedule2');
    }
    /*else {
      document.getElementById('sche').classList.remove('schedule2');
      document.getElementById('sche').classList.add('schedule');
    } */  
  })
  
 </script>

 <% include ./partials/footer %>
