<% include ./partials/header %>

<style>
    #bg {
        background-image: url("/images/products.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 80vh;
        z-index: -2;
    }

    #bg h1 {
        padding: 50vh 0 0 14vh;
        font-weight: 500;
        color: black;
        text-shadow: 1px 1px black;
    }

    .card{
        margin: 4vh 5vh 4vh 5vh;
        padding: 2vh 5vh 2vh 5vh;
        border-radius: 6px;
    }
</style>

<div id="bg">
    <h1>
        <small class="text-mute"> Welcome To </small><br>
        Widget Edutech Pvt. Ltd.
    </h1>
</div>

<div>
    <div class="card">
        <div class="card-title">
            <h5> Live Classes </h5> <hr>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas minima velit voluptate autem inventore magni eaque reprehenderit doloribus, magnam temporibus facilis officiis ea culpa vero, fugit molestias! Ducimus, laudantium tenetur!
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h5> Self Pace Study Course </h5>
            <hr>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas minima velit voluptate autem inventore magni
            eaque reprehenderit doloribus, magnam temporibus facilis officiis ea culpa vero, fugit molestias! Ducimus,
            laudantium tenetur!
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h5> Test Zone </h5>
            <hr>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas minima velit voluptate autem inventore magni
            eaque reprehenderit doloribus, magnam temporibus facilis officiis ea culpa vero, fugit molestias! Ducimus,
            laudantium tenetur!
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h5> Animated Modules </h5>
            <hr>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas minima velit voluptate autem inventore magni
            eaque reprehenderit doloribus, magnam temporibus facilis officiis ea culpa vero, fugit molestias! Ducimus,
            laudantium tenetur!
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h5> Doubt Book </h5>
            <hr>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas minima velit voluptate autem inventore magni
            eaque reprehenderit doloribus, magnam temporibus facilis officiis ea culpa vero, fugit molestias! Ducimus,
            laudantium tenetur!
        </div>
    </div>
</div>

<% include ./partials/footer %>
