<% include ../partials/header %>


<style media="screen">
  .container{
    padding: 2vh 0 2vh 0;
  }
  #message1{
  color:red
  }
  #message2{
  color:red
  }
  #message3{
  color:red
  }
  #message4{
  color:red
  }
  #message5{
  color:red
  }
</style>
<script type="text/javascript" language="javascript">
function validateemail()
{
  var email=document.getElementById("inputEmail").value
  var d=email.indexOf('@');
  var e=email.length-4;
 var s=email.substring(d+1,e);
  var a=["gmail","yahoo","orkut","hotmail"]
  if(d<=0||email.charAt(e)!='.')
  {
  document.getElementById("message2").innerHTML="Enter a valid Email Id"
  return false;
  }
  else if(a.indexOf(s)<0)
  {document.getElementById("message2").innerHTML="Enter a valid domain"
  return false;
  }
  else
  {
  document.getElementById("message2").innerHTML=""
  return true;
  }

}
function passwords()
{
  var pass=document.getElementById("inputPassword").value
  if(pass.length<5)
  {
  document.getElementById("message4").innerHTML="Password length must be greater than 5"
  return false;
  }
  else if(pass.length>15)
  {
  document.getElementById("message4").innerHTML="Password length must be smaller than 5"
  return false;
  }
  else
  {
  document.getElementById("message4").innerHTML=""
  return true;
  }
}
function confirmEmail() {

  var email = document.getElementById("inputEmail").value
  var confiEmail = document.getElementById("inputConfiEmail").value
  if (validateemail()&&email!=confiEmail) {
     document.getElementById("message3").innerHTML="Email id don't match"
     return false;
  }
  else
  {
  document.getElementById("message3").innerHTML=""
  return true;
  }
}
function onlyalphabet(){
  var regexp = /^[a-z A-Z]+$/;
  var element=document.getElementById("fullname")
  if(element.value=="")
  {
  document.getElementById("message1").innerHTML="enter fullname"
  return false;
  }
  else if(element.value.match(regexp))
  {
  document.getElementById("message1").innerHTML=""
  return true;
  }else{
     document.getElementById("message1").innerHTML="Only alphabets required"
    return false;
  }
}
function phonenumber()
{
 
  var number=document.getElementById("inputMobNo").value
  if(number=="")
  {document.getElementById("message5").innerHTML="Enter a mobile number"
  return false
  }
  else if(isNaN(number))
  {
  document.getElementById("message5").innerHTML="Mobile number can not be in alphabets"
  return false
  }
  else if(number.length>10||number.length<10)
  {
  document.getElementById("message5").innerHTML="Enter ten digits mobile number"
  return false
  }
  else if(number[0]!=9&&number[0]!=8&&number[0]!=7)
  {
  document.getElementById("message5").innerHTML="Enter a valid mobile number"
  return false
  }
  else
  {
  document.getElementById("message5").innerHTML=""
  return true
  }
}
</script>
    <div class="container">
      <div class="panel text-center">
        <h3>Register as Student</h3>
      </div>
        <form method="post" action="/studentregister">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username:</label>
              <input type="text" name="obj[username]" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group col-md-6">
              <label for="Full Name">Full Name:</label>
              <input type="text" name="obj[fullName]" class="form-control" id="fullname" placeholder="FullName" required onblur="onlyalphabet()">
              <div id="message1"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email">Email:</label>
              <input type="email" name="obj[email]" class="form-control" id="inputEmail" placeholder="Email Address" onblur="validateemail()" required>
              <div id="message2"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="emailConfirm">Confirm Email:</label>
              <input type="email" onblur="confirmEmail()" name="emailConfirm" class="form-control" id="inputConfiEmail" placeholder="Enter Email Address again" required >
              <span id="message3" ></span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
             <label for="password">Password:</label>
             <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" onblur="passwords()"required>
             <div id="message4"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="mobileNumber">Mobile Number:</label>
              <input type="text" name="obj[mobileNumber]" class="form-control" id="inputMobNo" placeholder="Enter mobile number with country codes" onblur="phonenumber()" required>
              <div id="message5"></div>
            </div>
          </div>
          <div class="container text-center col-6">
            <div class="login">
              <a href="/login">Already registered? Login here</a>
            </div>
            <button type="submit" id="submit"class="btn btn-primary" >Register </button>
          </div>
        </div>
      </form>
<script>
$("#submit").click(function()
{
  return (confirmEmail()&&passwords()&&validateemail()&&onlyalphabet()&&phonenumber());
})


</script>


 <% include ../partials/footer %>
