<% include ../partials/header %>
<% include ../partials/header_student %>

<style>
  .container {
    padding: 2vh 0 4vh 0;
  }

  .card{
    margin: 2vh 0 4vh 0;
  }
</style>

<div class="container">
  <% for(var i=0; i<vid.length; i++){%>
    <div class="card">
      <hr><h4 class="card-title text-center" onclick="myfunc('<%= vid[i].cast_id %>')" id="title"><%= vid[i].title%></h4>
      <p class="card-subtitle text-muted text-center">Click on the title above to load the video</p><hr>
      <div class="container text-center" id="<%= vid[i].cast_id %>" style="display: none">
        <%- vid[i].iframe_embed %>
      </div>
    </div>
  <%}%>
</div>

<script type="text/javascript">
function myfunc(id){
  if(document.getElementById(id).style.display == 'block'){
    document.getElementById(id).style.display = 'none';
  }
  else
  {
    document.getElementById(id).style.display = 'block';
  }
}

</script>

<% include ../partials/footer %>
